<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Personas</title>
</head>
<body>
    <h1>Lista de Personas</h1>

    <a th:href="@{/naves}">Ver lista de naves...</a>

    <br><br>

    <a th:href="@{/newPersona}">Introducir un nuevo tripulante...</a>

    <br><br>

    <a th:href="@{/newNave}">Introducir una nueva nave...</a>

    <br><br>

    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Rango</th>
                <th>Licencia Estelar</th>
                <th>Misiones Asignadas</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="personas : ${personas}">
                <td th:text="${personas.id}"></td>
                <td th:text="${personas.nombre}"></td>
                <td th:text="${personas.rango}"></td>
                <td th:text="${personas.licenciaEstelar}"></td>
                <td th:text="${#lists.size(personas.misionAsignada)}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>