<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tripulantes</title>
</head>
<body>
    <h1>Lista de Tripulantes</h1>

    <a th:href="@{/naves}">Ver lista de naves...</a>

    <br><br>

    <a th:href="@{/newTripulante}">Introducir un nuevo tripulante...</a>

    <br><br>

    <a th:href="@{/newNave}">Introducir una nueva nave...</a>

    <br><br>

    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Rango</th>
                <th>Licencia Estelar</th>
                <th>Misiones Asignadas</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="tripulantes : ${tripulantes}">
                <td th:text="${tripulantes.id}"></td>
                <td th:text="${tripulantes.nombre}"></td>
                <td th:text="${tripulantes.rango}"></td>
                <td th:text="${tripulantes.licenciaEstelar}"></td>
                <td th:text="${#lists.size(tripulantes.misionAsignada)}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>